# Source Control
.git/
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env
.env.*
.env_example

# IDE
.vscode/
.idea/

# Docker
Dockerfile
docker-compose.yml
.dockerignore
.docker_README.md

# Documentation
.docs/
.backup/
.tobedeleted/
README.md
CHANGELOG.md
LICENSE
docs/
openapi.yaml

# Tests and Coverage
.pytest_cache/
.coverage
htmlcov/
tests/
test_*.py

# Local Artifacts
*.log
# *.sqlite

# Temporary files
conductor/
