# Python
__pycache__/
*.pyc
*.log
.venv/
venv/

# Environment variables
.env
.env.*
.roo/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker

docker-compose.override.yml
*.swp
*.swo

# Test and build artifacts
.pytest_cache/
*.egg-info/
.clinerules

# Operating System files
.DS_Store
Thumbs.db

# backup files
.backup/
# docs
.docs/
# Conductor
conductor/
# reports
.coverage
.coverage.*
htmlcov/

.tobedeleted/
.notshared/
.ruff_cache/

# reports
reports/